body{
  font-family: "Open sans",sans-serif;
  background: linear-gradient(to right, rgb(40, 82, 235), rgb(119, 79, 239), rgb(0, 0, 0));
}

/* Fonts */
h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif;
}

footer{
  background-image: linear-gradient(to bottom right, white , rgb(152, 155, 163));
  padding: 10px;
}
.card {
  background-color: rgb(246, 238, 234);
  padding: 7%;
}
.products{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    height: auto;
}
.price
{
  color: red;
}
.buttons
{
  width: 40%;
  color: white;
  height: 30%;
}

img{
  max-width: 100%;
}

.carousel-inner .carousel-item{
  height: 30rem}

@media only screen and (max-width: 1000px){
  .buttons
{
  width: 50%;
  color: white;
  height: 30%;
  margin-left: 25%;
  margin-top: 20px
}
  
}