
/* Fonts */
h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif;
}


.list-menu > ul > li{
  list-style: none;
}

/* Information padding */
.info{
  margin-top: 0;
}

section{
  margin: auto;
}

footer{
  background-image: linear-gradient(to bottom right, white , rgb(152, 155, 163));
  padding: 10px;
}

.follow{
  margin: 0;
  padding-left: 1;
  list-style: none;
}

.logout {
  transition-duration: 0.4s;
}

.logout:hover {
  background-color: red;
  color: white;
  width: 125%;
}

.picture{
  text-align: center;
  margin: auto;
}

.vl{
  border-left: 6px solid gray;
  height: 300px;
}